@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  min-width: 480px;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

.capsize::before {
  content: "";
  margin-bottom: -0.098em;
  display: table;
}

.capsize::after {
  content: "";
  margin-top: -0.219em;
  display: table;
}

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}
html {
  min-width: 480px;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

/* Typography non-prose*/

h1 {
  @apply capsize mb-4 text-3xl font-bold tracking-tight md:text-5xl;
}
h4 {
  @apply mt-4 text-2xl font-normal tracking-tight  md:text-3xl;
}

h4 {
  @apply mt-4 text-xl font-normal tracking-tight  md:text-2xl;
}

h5 {
  @apply my-2 text-lg font-normal tracking-tight  md:text-2xl;
}

ul {
  @apply list-inside list-[square] pb-6 pt-2 [&>*]:py-[0.1rem];
}

li {
  @apply text-gray-400 md:text-lg;
}

hr {
  @apply my-2 border-b-[0px];
}

/* Overrides the original padding of the Popup component in the Map */
.mapboxgl-popup-content {
  padding: 0 !important;
}
